<html>

<head>
  <title>Logrocho - 500</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="estilos/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="estilos/css/estilos404.css" />
  <link rel="stylesheet" href="estilos/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div id="notfound">
	<img src="media/error500.png"/>
        <div class="notfound">
		
        <div class="notfound-404">
		
        <h1>500</h1>
        </div>
        <h2>Internal Server Error</h2><br>
        <p>Lo sentimos, algo fue mal.</p>
        <a href="#">Volver al inicio</a>
        </div>
        </div>
</body>
</html>